.navbg {
    background-color: #134361;
}
.btn-primary {
    background-color: #134361;   
}
body {
    font-family: 'PT Serif', serif;
font-family: 'Raleway', sans-serif;
}
.fsize {
    font-size: 15px;
}